body,
body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: rgba(250, 205, 73, 0.1);
}

.top-shadow {
    position: absolute;
    top: 0;
    left: 0;
}

.right-shadow {
    position: absolute;
    top: 400px;
    right: 0;
}