.main-header-section {
    display: flex;
    width: 1199px;
    height: 713px;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 427px;
    height: 548px;
    margin: 82.5px 0;
}

.explore-style {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 224px;
    height: 56px;
    color: #F85E9F;
    background-color: #fff;
    border-radius: 100px;
    padding: 16px 32px;
    font-size: 14px;
}

.main-h1 {
    font-size: 69px;
    padding: 43px 0;
}

.left-side-bottom {
    margin-top: 43px;
    display: flex;
    width: 317px;
    height: 56px;
}

.right-side {
    position: relative;
    width: 713px;
    height: 713px;
}

.img-world {
    color: #FF5722;
    filter: invert(0%) sepia(0%) saturate(7014%) hue-rotate(346deg) brightness(100%) contrast(101%);
}

.img-1 {            
    position: absolute;
    top: 60px;
    left: 50px;
}

.img-2 {
    position: absolute;
    top: 420px;
    left: 50px;
}

.img-3 {
    position: absolute;
    top: 200px;
    left: 360px;
}

.line-1 {
    position: absolute;
    top: 60px;
    left: 615px;
}

.jet-1{
    position: absolute;
    top: 35px;
    left: 570px;
}

.jet-3{
    position: absolute;
    top: 20px;
    left: 60px;
}

.line-3 {
    position: absolute;
    top: -10px;
    left: 180px;
}

.line-2{
    position: absolute;
    top: 50px;
    left: -40px;
}

.jet-2 {
    position: absolute;
    top: 160px;
    left: 455px;
}

.tele-img {
    position: absolute;
    top: 340px;
    left: 0;
}

.location-img {
    position: absolute;
    top: 100px;
    left: 630px;
}

.top-places {
    position: absolute;
    top: 480px;
    left: 540px;
}

.add-img {
    position: absolute;
    top: 650px;
    left: 400px;
}

.header-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 1440px;
    height: 160px;
    padding: 64px 165px;
}

.triangles {
    position: absolute;
    top: -50px;
    left: 20px;
}