.main-services {
    display: flex;
    align-items: center;
    width: 1274px;
    height: 407px;
}

.services-left {
    width: 444px;
    height: 150px;
}

.main-top-destinations {
    display: flex;
    flex-direction: column;
    width: 1274px;
    height: 407px;
}

.services-right {
    display: flex;
    justify-content: space-between;
}

.service-one {
    width: 350px;
    height: 409px;
    background-color: rgba(250, 205, 73, 0.1);
    border-radius: 32px;
}

.service-two {
    width: 350px;
    height: 409px;
    background-color: rgba(250, 205, 73, 0.1);
    border-radius: 32px;
}